= form_tag filter_licenses_path, :method => :post do
  = hidden_field_tag 'return_to', @current_action
  Include:<br/>
  Editions: 
  - @all_editions.each do |edition, price|
    = check_box_tag "editions[#{edition}]", 1, session[:editions] && session[:editions].key?(edition)
    = edition
  <br/>
  From:
  = select_date @fromDate, :prefix => 'fromDate'
  To:
  = select_date @toDate, :prefix => 'toDate'
  <br/>
  - if (defined? countries)
    Countries (#{link_to 'All', filter_licenses_path(:edition => session[:editions], |
    :fromDate => session[:fromDate], :toDate => session[:toDate], |
    :return_to => @current_action)}/#{link_to 'Supported', filter_licenses_path( :edition => session[:editions], |
    :fromDate => session[:fromDate], :toDate => session[:toDate], :c => @supported_countries, |
    :return_to => @current_action)}): |
    - @geo.each do |country, num_of_licenses|
      = check_box_tag "c[#{country}]", 1, session[:c] && session[:c].key?(country)
      #{country}&nbsp;(#{num_of_licenses})
    <br/>

  = submit_tag 'Refresh', :id => 'licenses_submit'
      