#{link_to 'Index', licenses_path}(#{link_to 'Notbought', notbought_licenses_path})
= link_to 'Pivot', pivot_licenses_path
= link_to 'Timeline', timeline_licenses_path
= link_to 'Geo Chart', geochart_licenses_path