-# edit.html.haml
- if flash[:amkt_cookie]
  - content_for(:onload) do
    $('#log').load("#{import_stream_licenses_path(:amkt_cookie => flash[:amkt_cookie])}")

= render 'nav'

%h1 Import Licenses

= form_tag do_import_licenses_path, :method => :post do

  = label :vendor, :email, 'AMKT Vendor Email'
  = text_field :vendor, 'email'

  = label :vendor, :password, 'Password'
  = password_field :vendor, 'password'

  = submit_tag 'Import'

%h2 Log

%ul#log
  - @log.each do |row|
    %li= row