= render 'nav'

%h1 All Licenses (#{@licenses.size})

= render 'filter', :return_to => 'licenses_path', :countries => true

%table#licenses
  %thead
    %tr
      %th License Id
      %th Organization Name
      %th Country
      %th Edition
      %th License Type
      %th Start Date
  %tbody#licenselist
    - @licenses.each do |license|
      %tr
        %td= license['licenseId']
        %td= license['organisationName']
        %td= license['technicalContactCountry']
        %td= license['edition']
        %td= license['licenseType']
        %td= license['startDate']
