= render 'nav'

%h1 All Licenses (#{@licenses.size}|$#{@sum})

= render 'filter', :return_to => 'licenses_path', :countries => true

%table#licenses
  %thead
    %tr
      %th License Id
      %th Organization Name
      %th Email
      %th Count
      %th Country
      %th Edition
      %th License Type
      %th Start Date
      %th End Date
      %th Price
  %tbody#licenselist
    - @licenses.each do |license|
      %tr
        %td= license['licenseId']
        %td= license['organisationName']
        %td= mail_to license['technicalContactEmail'], license['technicalContactName']
        %td= license['count']
        %td= license['technicalContactCountry']
        %td= license['edition']
        %td= license['licenseType']
        %td= license['startDate']
        %td= license['endDate']
        %td= license['price']

-#- @licenses.each do |license|
-#  #{license['technicalContactName']} &lt;#{license['technicalContactEmail']}&gt;,<br/>


