= render 'nav'

%h1 All Licenses (#{@licenses.length}|$#{@sum})

= render 'filter', :return_to => 'licenses_path', :countries => true

%table#licenses
  %thead
    %tr
      %th License Id
      %th{:class => session[:sort] == 'organisationName' ? 'hilite' : ''}
        = link_to 'Organisation Name', sort_licenses_path(:sort => :organisationName, :return_to => @current_action)
      %th Email
      %th Count
      %th Country
      %th Edition
      %th License Type
      %th{:class => session[:sort] == 'startDate' ? 'hilite' : ''}
        = link_to 'Start Date', sort_licenses_path(:sort => :startDate, :return_to => @current_action)
      %th End Date
      %th Price
  %tbody#licenselist
    - @licenses.each do |license|
      %tr
        %td= link_to license.licenseId, license_path(license)
        %td= license.organisationName
        %td= mail_to license.technicalContact.email, license.technicalContact.name
        %td= license['count']
        %td= license.technicalContactAddress.country
        %td= license.edition
        %td= license.licenseType
        %td= license.startDate
        %td= license.endDate
        %td= license['price']

-#- @licenses.each do |license|
-#  #{license['technicalContactName']} &lt;#{license['technicalContactEmail']}&gt;,<br/>


