= render 'nav'

%h1 All Licenses

= render 'filter', :return_to => 'pivot_licenses_path'

%table#licenses
  %thead
    %tr
      %th Start Date
      - @all_editions.each do |edition, price|
        %th= edition
  %tbody#pivot
    %tr
      %td= 'Total Count'
      - @total.each do |edition, count|
        %td= count
    - @pivot.each do |startDate, license|
      %tr
        %td= startDate
        - @all_editions.each do |edition, price|
          %td= license[edition]
