%h1 All Licenses

%table#licenses
  %thead
    %tr
      %th Start Date
      - @all_editions.each do |edition, price|
        %th= edition
      
  %tbody#licenselist
    - @licenses.each do |startDate, license|
      %tr
        %td= startDate
        - @all_editions.each do |edition, price|
          %td= license[edition]
    %tr
      %td= 'Total Count'
      - @total.each do |edition, count|
        %td= count
    %tr
      %td= 'Total Sum'
      - @total.each do |edition, count|
        %td= count * @all_editions[edition]
        
