-# sales.html.haml
- if session[:amkt_cookie]
  - content_for(:head) do
    = javascript_include_tag 'http://www.google.com/jsapi'
    = javascript_include_tag :tablequerywrapper
    = javascript_include_tag :sales
  - content_for(:onload) do
    -#$('#log').load("#{import_stream_licenses_path(:amkt_cookie => flash[:amkt_cookie])}")

= render 'nav'

%h1 Sales

= form_tag sales_update_licenses_path, :method => :post do

  = label :vendor, :email, 'AMKT Vendor Email'
  = text_field :vendor, 'email'

  = label :vendor, :password, 'Password'
  = password_field :vendor, 'password'

  = submit_tag 'Update'

%h2 Report

%div#table