-# in app/views/licenses/show.html.haml

%h2 Details about #{@license.licenseId}

%ul#details
  %li
    Technical Contact:
    = @license.technicalContact.name
    , 
    = @license.technicalContact.email
  %li
    Dates: 
    = @license.startDate
    -
    = @license.endDate

= link_to 'Edit', edit_license_path(@license)
= link_to 'Back to licenses list', licenses_path
