!!! 5
%html
  %head
    %title Atlassian Marketplace Vendors Tool
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield(:head)

  %body{:onload => yield(:onload)}
    %h1.title Atlassian Marketplace Vendors Tool
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
